.gitignore     export-ignore
.gitattributes export-ignore

# Files & folders that should not be included in production.
/docs/                              export-ignore
/tests/                             export-ignore
/.prospector.yml                    export-ignore
/.travis.yml                        export-ignore
/mkdocs.yml                         export-ignore
/run_tests.sh                       export-ignore
/setup.cfg                          export-ignore
